# Ignore everything by default
*

# Re-include distribution output and metadata
!examples/*
!examples/
!src/*
!src/ai/*
!src/**/*
!docs/examples/*
!docs/*
!docs/
!src/
!test/*
!test/
!package.json
!README*
!LICENSE*
!.gitignore
!tsconfig*
!tsup.config*
!CHANGELOG*
!*.sh